:root {
  --background: #191919;
  --interactive: #2a2a2a;
  --border: #484848;
  --solid: #6e6e6e;
  --text: #eeeeee;
  --border-radius: 0.25rem;
  --transition: all 0.2s linear;
  --font-title: "Montserrat", sans-serif;
  --font-text: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

p,
a,
label,
input,
button, textarea, select{
  font-family: var(--font-text);
  font-size: 1rem;

}

label {
  margin: 0.2rem;

}

span {
  width: 250px;
}

input, button, select, textarea {
  border: none;
  outline: none;
  color: var(--interactive);
}

input {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--text);
  transition: var(--transition);
  width: 250px;

}

input:focus {
  border: 1px solid var(--solid);
  transition: var(--transition);
}

textarea {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--text);
  transition: var(--transition);
  width: 250px;
  height: 100px;
}

textarea:focus {
  border: 1px solid var(--solid);
  transition: var(--transition);
}

select {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--text);
  transition: var(--transition);
  width: 250px;
}

select:focus {
  border: 1px solid var(--solid);
  transition: var(--transition);
}



li {
  list-style-type: none;
}

header nav ul li {
  margin: 0 1rem;
}

header nav img {
  width: 150px;
  height: 150px;
}

.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--text);
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.l1 {
  transform: translateY(-10px);
}
.l3 {
  transform: translateY(10px);
}
.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2 {
  opacity: 0;
}
.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

nav {
  position: fixed;
  width: 50vw;
  min-height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  border-left: 1px solid var(--border);
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
nav.active {
  transform: translate(0);
}
nav a {
  display: block;
  margin: 10px 0;
}


/* Main */
main {
  margin-top: 80px;
}

.img {
  height: 300px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer {
  border-top: 1px solid var(--border);
  height: 200px;
  padding: 15px;
}
footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div .link {
  display: flex;
  flex-direction: column;
}

footer div .link a {
  margin: 1rem;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div img {
  width: 150px;
  height: 150px;
}


/* Formulaire  */
.mainInformation{
  padding: 10px;
  margin: 80px 0;
}

.mainInformation h2 {
  text-align: center;
  margin: 1rem;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  /* margin: 0.5rem; */
}

.contentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentForm div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;

}

.btn {
  color: var(--background);
  padding: 0.5rem;
  margin: 0.5rem;
  width: 150px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  border: 1px solid var(--border);
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  nav-toggler {
    display: none;
  }
  header nav {
    position: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 80px;
    border-bottom: 1px solid var(--border);
    border-left: 0px;
  }

  nav {
    min-height: 0;
    transform: translate(0);
    width: 100%;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-toggler {
    display: none;
  }

  footer div .link {
    flex-direction: row;
  }
}
